- title "人気のドラマ"

- @dramas.each do |drama|
  .drama{:style => "background-color: #ffe;"}
    .title{:style => font_size(:large) + "background-color: #ffc; text-align:center", :align => "center"}
      - if drama.completed?(current_user)
        &#xE71A;
      = link_to drama.title, drama
    .wathced_count
      &nbsp;&nbsp;&nbsp;全見た&#xE702;数: #{drama.watches.count}
    .episode_count
      &nbsp;&nbsp;&nbsp;全話数&nbsp;&nbsp;&nbsp;&nbsp;: #{drama.episodes_count}
    = hr "#ffc"
.center{:style=> "text-align:center;", :align => "center"}
  - if @dramas.previous_page
    = link_to '&#xE6E7;前を表示', {:page => @dramas.previous_page, :escape => false}, :accesskey => '6'
  - if @dramas.next_page
    = link_to '&#xE6E8;次を表示', {:page => @dramas.next_page, :escape => false}, :accesskey => '7'
  - if @dramas.previous_page
    %br
    = link_to '人気トップに戻る', dramas_path

%br
.search_form{:style => "background-color: #ffe;"}
  .title2{:style => "background-color: #040; color:#fff; text-align:center", :align => "center"} ドラマを探す
  - form_tag search_dramas_path do
    = text_field_tag :query
    = submit_tag "探す"
  = hr "#ffc"
