- title h(@drama.title), false

- drama_title_image(@drama)

#friends_list{:style => "background-color: #eef;"}
  %h2{:style => font_size(:large) + "background-color: #ccf; text-align:center", :align => "center"} マイミクの見た！
  - friends_watches = @drama.watches.friends(current_user).all(:limit => 3, :include => [:user, {:episode => :drama} ])
  - unless friends_watches.blank?
    - friends_watches.each do |watch|
      = render watch
  - else
    %p まだマイミクの誰も見ていないお話です。

#others_list{:style => "background-color: #ffe;"}
  %h2{:style => font_size(:large) + "background-color: #ffc; text-align:center", :align => "center"} みんなの見た！
  - others_watches = @drama.watches.user_id_is_not(current_user.id).all(:limit => 3, :include => [:user, {:episode => :drama} ])
  - unless others_watches.blank?
    - others_watches.each do |watch|
      = render watch
  - else
    %p 登録されていません。

#self_list{:style => "background-color: #fee;"}
  %h2{:style => font_size(:large) + "background-color: #fcc; text-align:center", :align => "center"} あなたの見た！

  %p
    &#xE71A;
    があなたが見た話に表示されています。

  - unless @drama.completed?(current_user)
    - form_for(Watch.new(:drama_id => @drama.id)) do |f|
      = f.hidden_field :drama_id
      %p
        = f.submit "全部見た！"

  - @drama.episodes.each do |episode|
    .episode
      - if watch = current_user.watched(episode)
        = link_to "#{h(episode.num_and_title)}", episode
        &#xE71A;
        = l watch.created_at.to_date, :format => :short
      - else
        - form_for(Watch.new(:episode => episode)) do |f|
          = link_to "#{h(episode.num_and_title)}", episode
          = f.hidden_field :episode_id
          = f.submit "見た！"

