- title h @drama.title

%p
  = h @drama.category.title
  = h @drama.channel

%ul
  - @drama.episodes.each do |episode|
    %li= link_to "#{episode.num} #{episode.title}", episode

%h2 最近の見た
- @drama.watches.each do |watch|
  = render watch
