- title h(@drama.title), false

- drama_title_image(@drama)

#friends_list{:style => "background-color: #eef;"}
  .title2{:style => "background-color: #ccf; text-align:center", :align => "center"} マイミクの見た&#xE702;
  - friends = @drama.recent_watchers.friends(current_user).all(:limit => 3)
  - unless friends.blank?
    - friends.each do |friend|
      = render friend.watches.first
  - else
    %p まだマイミクの誰も見ていないお話です。
  = hr("#eef")

#others_list{:style => "background-color: #ffe;"}
  .title2{:style => "background-color: #ffc; text-align:center", :align => "center"} みんなの見た&#xE702;
  - others = @drama.recent_watchers.others(current_user).all(:limit => 3)
  - unless others.blank?
    - others.each do |other|
      = render other.watches.first
  - else
    %p 登録されていません。
  = hr("#ffc")

#self_list{:style => "background-color: #fee;"}
  .titles{:style => "background-color: #fcc; text-align:center", :align => "center"} あなたの見た&#xE702;
  %p
    &#xE71A;
    があなたが見た話に表示されています。

  - unless @drama.completed?(current_user)
    - form_for(Watch.new(:drama_id => @drama.id)) do |f|
      = f.hidden_field :drama_id
      %p
        = f.submit "全部見た！"

  - @drama.episodes.each do |episode|
    .episode
      - if watch = current_user.watched(episode)
        = link_to "#{h(episode.num_and_title)}", episode
        &#xE71A;
        = "#{l(watch.created_at.to_date, :format => :short)} #{truncate(watch.content, :length => 10)}"
      - else
        - form_for(Watch.new(:episode => episode)) do |f|
          = link_to "#{h(episode.num_and_title)}", episode
          = f.hidden_field :episode_id
          = f.submit "見た！"
  = hr("#fcc")

