- title "Users"

%table
  %tr
    %th Name
    %th Mixi
  - for user in @users
    %tr
      %td= h user.name
      %td= h user.mixi_id
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New User", new_user_path
