- title "#{h(@user.name)} さん"

.center{:style=> "text-align:center;", :align => "center"}
  .watched_drama_count
    見たドラマ数: #{@user.watched_dramas.size}
  .watched_count
    見た数: #{@user.watches.size}

.self_list{:style => "background: #fee;"}
  %h2{:style => font_size(:large) + "background: #fcc; text-align:center", :align => "center"} 見た！ドラマ
  - dramas = [@user.completed_dramas + @user.watched_dramas_without_completed].flatten
  - unless dramas.blank?
    - dramas.each do |drama|
      .drama{:style => "float:left;margin: 5px;", :float => "left"}
        .title_image{:style => "text-align:center;", :align => "center"}
          = link_to title_image_tag(drama), drama
        .rate
          - if drama.completed?(@user)
            &#xE6BA;コンプリート
          - else
            = drama.complete_rate(@user)
    %br{:clear => "all"}
  - else
    %p まだ全部見たドラマはありません。
