- title "#{h(@user.name)} さん"

.center{:style=> "text-align:center;", :align => "center"}
  .watched_drama_count
    見たドラマ数: #{@user.watched_dramas.size}
  .watched_count
    見た数: #{@user.watches.size}

.self_list{:style => "background: #fee;"}
  %h2{:style => font_size(:large) + "background: #fcc; text-align:center", :align => "center"} コンプリート!ドラマ
  - completed_dramas = @user.completed_dramas
  - if completed_dramas
    - completed_dramas.each do |drama|
      .drama{:style => "float:left;margin: 5px;", :float => "left"}
        .title_image
          = link_to title_image_tag(drama), drama
    %br{:clear => "all"}
  - else
    %p まだ全部見たドラマはありません。

  - unless (watching_dramas = @user.watched_dramas_without_completed).blank?
    %h2{:style => font_size(:large) + "background: #fcc; text-align:center", :align => "center"} 途中のドラマ
    - watching_dramas.each do |drama|
      .drama
        %span.watched_rate
          - if drama.completed?(@user)
            &#xE6BA;
          = drama.complete_rate(@user)
        %span.title
          = link_to drama.title, drama
      .episode
        &nbsp;&nbsp;最近の見たのは
        - recent_watches = drama.watches.user_id_is(@user.id).descend_by_updated_at.first
        = link_to h(recent_watches.episode.num_and_title), recent_watches.episode
      %br
