- title "#{h @episode.num}話 #{h @episode.title}"

%p
  = link_to h(@episode.drama.title), @episode.drama

%h2 マイミクの見た!
- friends_watches = @episode.watches.friends(current_user).all(:limit => 3, :include => [:user, {:episode => :drama} ])
- unless friends_watches.blank?
  - friends_watches.each do |watch|
    = render watch
- else
  %p
    まだマイミクの誰も見ていないお話です。

%h2 みんなの見た!
- others_watches = @episode.watches.user_id_is_not(current_user.id).all(:limit => 3, :include => [:user, {:episode => :drama} ])
- unless others_watches.blank?
  - others_watches.each do |watch|
    = render watch
- else
  %p
    まだ登録されていません。

%h2 あなたの見た!
- if self_watch = @episode.watches.find_by_user_id(current_user.id)
  = render self_watch
  -#いまいちなので保留
    - form_for(self_watch) do |f|
      %p
        = f.label :content, "コメント"
        = f.text_field :content
      %p
        = f.submit "更新"
  - form_for(self_watch, :url => watch_path(self_watch), :html => {:method => "delete"}) do |f|
    %p
      = f.submit "削除"
- else
  %p
    まだ登録されていません。もしあなたの見ているドラマであれば見たボタンを押しましょう！
  - form_for(@episode.watches.build) do |f|
    = f.hidden_field :episode_id
    %p
      = f.label :content, "コメント"
      = f.text_field :content
    %p
      = f.submit "見た"

