- title "#{h @episode.num}話 #{h @episode.title}"

%h2
  = link_to h(@episode.drama.title), @episode.drama

%h2
  あなたの見た!
- if self_watch = @episode.watches.find_by_user_id(current_user.id)
  = render self_watch
- else
  %p
    まだ登録されていません。もしあなたの見ているドラマであれば見たボタンを押しましょう！
  - form_for(@episode.watches.build) do |f|
    = f.hidden_field :episode_id
    %p
      = f.label :content, "コメント(空でも可)"
      = f.text_field :content
    %p
      = f.submit "見た"

%h2
  マイミクの見た!
- friends_watches = @episode.watches.user_id_is(current_user.friends.map(&:id))
- unless friends_watches.blank?
  - friends_watches.each do |watch|
    = render watch
- else
  まだマイミクの誰も見ていないお話です。

%h2
  みんなの見た!
- @episode.watches.user_id_in(current_user.friends.map(&:id)).each do |watch|
  = render watch