- title "あのドラマみた？", false

#drama_mita_logo{:style => "text-align:center;", :align => "center"}
  = image_tag(logo_image_path, :size => "100x100")

%p
  あなたの見たドラマをみんなと共有しよう
  %br
  = link_to "「あのドラマ見た？」って何？", info_path(:welcome)

- if have_wathed?
  .center{:style => "text-align:center;", :align => "center"}
    &#xE663;
    = link_to "マイページへ", me_users_path
    &#xE663;
  %br

- unless @friends.blank?
  .friends_list{:style => "background-color: #eef;"}
    .title2{:style => "background-color: #ccf; text-align:center", :align => "center"} マイミクの見た&#xE702;
    %p
      マイミクが見たドラマが表示されています。<br />
      同じドラマを見ているマイミクがいたら、あなたも「見た&#xE702;」して教えてあげよう。
    - @friends.each do |friend|
      = render friend.watches.first

.others_list{:style => "background-color: #ffe;"}
  .title2{:style => "background-color: #ffc; text-align:center", :align => "center"} みんなの見た&#xE702;
  %p
    他の人の見たドラマの中から、あなたの見たドラマを探してみましょう！
  - @others.each do |other|
    = render other.watches.first

%p
  他に登録したいドラマがあれば、ドラマを探してみましょう。
  %br
  = link_to "他のドラマを探す", dramas_path