#drama_mita_logo{:style => "text-align:center;", :align => "center"}
  = image_tag('/images/drama-mita-logo.jpg', :size => "100x100")

%p
  あなたの見たドラマをみんなと共有しよう
  %br
  = link_to "「あのドラマ見た？」って何？", info_path(:mita)

- if have_wathed?
  .center{:style=> "text-align:center;", :align => "center"}
    = link_to "マイページへ", me_users_path

- unless @friends_watches.blank?
  .friends_list{:style => "background: #eef;"}
    %h2{:style => font_size(:large) + "background: #ccf; text-align:center", :align => "center"} マイミクの見た!
    %p
      マイミクが見たドラマが表示されています。<br />
      同じドラマを見ているマイミクがいたら、あなたも「見た！」して教えてあげよう。
    - @friends_watches.each do |watch|
      = render watch

.others_list{:style => "background: #ffe;"}
  %h2{:style => font_size(:large) + "background: #ffc; text-align:center", :align => "center"} みんなの見た!
  %p
    他の人の見たドラマの中から、あなたの見たドラマを探してみましょう！
  - @recent_watches.each do |watch|
    = render watch

%p
  他に登録したいドラマがあれば、ドラマを探してみましょう。
  %br
  = link_to "他のドラマを探す", dramas_path