#drama_mita_logo{:style => "text-align:center;"}
  = image_tag('/images/drama-mita-logo.jpg', :size => "100x100")

%p
  あなたの見たドラマをみんなと共有しよう
  %br
  = link_to "「あのドラマ見た？」って何？", info_path(:mita)

- if have_wathed?
  = link_to "マイページへ", me_users_path

%h2 マイミクの見た!
%p
  マイミクが見たドラマが表示されています。<br />
  同じドラマを見ているマイミクがいたら、あなたも「見た！」して教えてあげよう。
- @friends_watches.each do |watch|
  = render watch

%h2 他の人の見た!
%p
  あなたの見たドラマを探してみよう。
- @recent_watches.each do |watch|
  = render watch

%p
  他に登録したいドラマがあれば、ドラマを探してみましょう。
  %br
  = link_to "他のドラマを探す", dramas_path