- title "ホーム"

%h2 放映中のドラマ
%p
  あなたの見たドラマを「見た!」しよう
  = link_to "「見た!」とは", info_path(:mita)

- Drama.channels.each do |channel|
  .drama_with_channel
    - episode = @current_episodes[channel]
    = channel
    = link_to episode.drama.title, episode.drama
    = link_to episode.num_and_title, episode

%h2 最近の見た!
- @recent_watches.each do |watch|
  = render watch

%h2 マイミクの見た!
- @friends_watches.each do |watch|
  = render watch
