!!! XML
!!! Mobile
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "ja", 'xml:lang' => "ja" }
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{ 'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml; charset=utf-8' }/
    = yield(:head)
  %body
    #container
      %ad{:xmlns => "http://m.mixi.jp/2009/AdProgram/", :type => "header", :id => "a1e168e72f5bcf9f3266459d5e1c21fe3124f611"}

      - if show_drama_title_image?
        .center{:style=> "text-align:center;", :align => "center"}
          = yield(:drama_title_image)

      - if show_title?
        .title1{:style => "background-color: #040; color:#fff; text-align:center", :align => "center"}
          = h yield(:title)
        %br

      = yield
      %ad{:xmlns => "http://m.mixi.jp/2009/AdProgram/", :type => "footer", :id => "a1e168e72f5bcf9f3266459d5e1c21fe3124f611"}
      %hr
      #footer
        - unless current_page?(root_path)
          = link_to "&#xE6E2; ホーム", root_path, :accesskey => '1'
          %br
        - if have_wathed? and !current_page?(me_users_path)
          = link_to "&#xE6E4; マイページ", me_users_path, :accesskey => '3'
          %br
        - unless current_page?(dramas_path)
          = link_to "&#xE6E6; ドラマを探す", dramas_path, :accesskey => '5'
