<?xml version="1.0" encoding="#{encoding}"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
%html{ :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{ 'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml; charset=utf-8' }/
    = yield(:head)
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      %ad{:xmlns => "http://m.mixi.jp/2009/AdProgram/", :type => "header"}

      - if show_title?
        %h1{:style => font_size(:large) + "background: #040; color:#fff; text-align:center", :align => "center"}
          =h yield(:title)

      = yield
      %ad{:xmlns => "http://m.mixi.jp/2009/AdProgram/", :type => "footer"}
      %hr
      #footer
        - unless current_page?(root_path)
          = link_to "ホーム", root_path
          %br
        - if have_wathed? and !current_page?(me_users_path)
          = link_to "マイページ", me_users_path
          %br
        - unless current_page?(dramas_path)
          = link_to "ドラマを探す", dramas_path
