!!! XML
<!DOCTYPE html PUBLIC "-//i-mode group (ja)//DTD XHTML i-XHTML(Locale/Ver.=ja/1.0) 1.0//EN" "i-xhtml_4ja_10.dtd">
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "ja", 'xml:lang' => "ja" }

  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{ 'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml; charset=utf-8' }/
    = yield(:head)
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1=h yield(:title)

      = yield

      %hr
      #footer
        - unless current_page?(root_path)
          = link_to "ホーム", root_path
          %br
        - if have_wathed? and !current_page?(me_users_path)
          = link_to "マイページ", me_users_path
          %br
        = link_to "ドラマを探す", dramas_path
