!!! XML
!!! Mobile
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "ja", 'xml:lang' => "ja" }
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{ 'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml; charset=utf-8' }/
    = yield(:head)
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      %ad{:xmlns => "http://m.mixi.jp/2009/AdProgram/", :type => "header"}

      - if show_drama_title_image?
        .center{:style=> "text-align:center;", :align => "center"}
          = yield(:drama_title_image)

      - if show_title?
        %h1{:style => font_size(:large) + "background-color: #040; color:#fff; text-align:center", :align => "center"}
          =h yield(:title)

      = yield
      %ad{:xmlns => "http://m.mixi.jp/2009/AdProgram/", :type => "footer"}
      %hr
      #footer
        - unless current_page?(root_path)
          = link_to "&#xE6E2; ホーム", root_path, :accesskey => '1'
          %br
        - if have_wathed? and !current_page?(me_users_path)
          = link_to "&#xE6E4; マイページ", me_users_path, :accesskey => '3'
          %br
        - unless current_page?(dramas_path)
          = link_to "&#xE6E6; ドラマを探す", dramas_path, :accesskey => '5'
